.question{
    width: 80%;
}

.survey-buttons{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.survey-sub-btns{
    display: flex;
    flex-direction: row;
    gap: 3px
}

.survey-sub-btns button:hover{
    letter-spacing: 0px;
}

.confirmation-box{
    text-align: center;
}
