

.select-display-title{
    padding: 10px;
    border: 0.2px solid black;
    border-radius: 2px;
    margin: 10px;
}

.select-display-title h3{
    border: 1px;
    background-color: var(--secondary-color);
    margin: -10px -10px 10px -10px;
    padding: 10px;
}

.target-groups{
   
  left: 0px;
  width: 50%;
}

.unscheduled-tasks{
   
    left: 0px;
    width: 50%;
}



.scheduled-tasks{
    top:210px;
    right: 0px;
    width: 50%;
    position:absolute
}