.summary-view{
    padding: 10px;
    margin: 10px;
    border: 0.2px solid black;
    border-radius: 10px;
}

.search-engine {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-engine input{
    min-width: 50vw;
}


.scheduled-tasks{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    
}


