.survey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    border: 1px solid var(--primary-color);
    padding: 10px;
}

.sur-question{
    width: 70vw;
    padding: 10px;
    margin: 10px;
    border: 0.2px solid black;
    border-radius: 2px;
    background-color: var(--tertiary-color);
}

.task-input{
    width: 80%;
}

.class-btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}