/*
Global styling for the application
Styles that can be applied globally to all elements with the same type are written here
*/

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --primary-color: 	#212129;
    --secondary-color: #7cafd1;
    --tertiary-color: 	#4c5265;
    
    --primary-light: #fff;
    --primary-dark: #7cafd1;
    --warning: #ED8C8C;

    --caito-blue: #7cafd1;
    --caito-purple: #745c93;
}

body{
    background-color: var(--primary-light);
    color: var(--primary-color);
}

*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0;

}

.brand-logo{
    width: 7em;
    height: auto;
}

button, input, label{
    font-size: 1.15em !important;
}

button{
    background-color: var(--secondary-color);
    color: var(--primary-light);
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
    font-weight: 200;
    text-transform: uppercase !important;
}

button:hover{
    background-color: var(--caito-purple);
    cursor: pointer;
}

button:disabled{
    background-color: rgb(211, 211, 211);
}

.secondary-btn{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.warning-btn{
    background-color: var(--warning);
}

.secondary-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-dark);
    color: var(--primary-light);
}


a{
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.5s;
}

a{
    color: var(--caito-blue); 
}

a:hover{
    color: var(--caito-purple);
    text-decoration: none !important;
}


input, textarea{
    border: none;
    border: 0.2px solid var(--primary-color);
    margin-left: 1rem;
    padding: 2px;
    transition: 0.5s;
}

input:focus, textarea:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}

label{
    transition: 0.5s;
}

input:focus + label{
    
}

.error{
    text-align: center;
    padding: 5px 0;
    color: rgb(255, 101, 101);
}

.edit-btn{
    min-width: 200px;
}

.edit-btn:hover{
    letter-spacing: normal;
}
.more-btn{
    margin-top: 5px;
    min-width: 200px;
}

.more-btn:hover{
    letter-spacing: normal;
}

.main-wrapper{
    margin: 3.5em;
}

h1{
    letter-spacing: -1px;
}