.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.logo{
    margin: 0;
    text-align: center;
}

.sign-in-form h2{
    text-align: center;
    margin: 10px;
}

.sign-in-form button{
    width: 100%;
}

.input-field{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 10px 0;
}

.sign-in-form{
    min-width: 25vw;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 1px 24px;
}

#password{
    margin: 10px 0;

}