.sign-up-form{
    min-width: 30vw;
    padding: 20px;
    border: 0.1px solid black;
    border-radius: 5px;

    background-color: var(--tertiary-color);

}

.sign-up-form h2{
    text-align: center;
    margin: 10px;
}


.sign-up-form button{
    width: 100%;
}

.auth-btn:hover{
    letter-spacing: 10px;
}