.sign-up-form{
    min-width: 30vw;
    padding: 20px;
    border: 0.1px solid black;
    border-radius: 5px;
    background-color: var(--primary-light);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.sign-up-form h2{
    text-align: center;
    margin: 10px;
}


.sign-up-form button{
    width: 100%;
}
