.new-survey{
    border: 0.2px solid rgba(0, 0, 0, 0.505);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-sur{
    color: white;
}

.survey-display{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.survey-box{
    min-width: 50vw;
}