.new-survey{
    border: 0.2px solid rgba(0, 0, 0, 0.505);
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
}

.new-sur{
    color: var(--primary-dark);
    font-weight: bolder;
}

.survey-display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
    margin: 2em;
}

.survey-box{
    min-width: 50vw;
}

@media screen and (max-width: 700px){
    .survey-display{
        display: block;
    }
}
    
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination .active{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.title-display{
    font-size: 2em;
    font-weight: bolder;
}