
.footer{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.footer a:hover{
    text-shadow: none;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caito-logo{
    width: 5rem;
}


@media screen and (max-width: 700px){

    .footer{
        display: block;
    }

}